h1 {
text-align: center;
color: red;
}

h2 {
text-align: center;
text-decoration: underline;
}

p {
color: green;
font-family: Tahoma;
}

ul {
font-style: italic;
}

ol {
font-style: bold;
font-size: 1.6em;
}

/* Just wanted to add this. Hope its okay. OK bye*\

* {
background-color:#03A9F4;
}
